@charset "utf-8";


/* fonts */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400,500,600,700,700i,800,900&subset=latin-ext'); */

/* mainpage style */
html{
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    height: 100%;
}
body{
    margin:0;
    padding: 0;
    font-weight: 400px;
    font-size: 12px;
    height: 100%;
    text-align: center;
    background:#454545;
    color: #000;
    font-family: 'Microsoft Yahei',sans-serif;
}
@-o-viewport{width: device-width;}
@-ms-viewport{width: device-width;}
@viewport{width: device-width;}

/* typography */
p{
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
}

blockquote{
    float: left;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 15px solid #eee;
}

blockquote p{
    font-family: "Microsoft Yahei",Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #494949;
}

.text-subtitle{
    float: left;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2;
    font-family: 'Microsoft Yahei','Montserrat',sans-serif;
    color: #666;
    padding-bottom: 10px;
    text-align: left;
}

.text-title {
	float:left;
	width:100%;
	position:relative;
	font-size:26px;
	font-weight:bold;
	letter-spacing:2px;
	color:#191919;
	text-transform:uppercase;
	text-align:left;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
	margin-bottom:10px;
}

/* loader */
.loader-holder{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index:150;
}

.loader-inner{
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 30;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.loader{
    float: left;
    width: 50px;
    height: 50px;
    border-left: 10px solid #404040;
    animation: loadPage 1s infinite linear;
    -webkit-animation: loadPage 1s infinite linear;
    -moz-animation: loadPage 1s infinite linear;
    -ms-animation: loadPage 1s infinite linear;
    --animation: loadPage 1s infinite linear;
}

.loader,.loader:after{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@keyframes loadPage{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes loadPage{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-moz-keyframes loadPage{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes loadPage{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* main page */
#main{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}
.left-wrap{
    float: left;
    width: 100%;
    position: relative;
}
.no-bg{
    background: none;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-origin: content-box;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
}

/* 轮播图 */
.carousel-page{
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 100;
    padding-left: 70px;
    padding-right: 50px;
}
.carousel-slider-holder{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.carousel-wrap-item{
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    float: left;
    z-index: 6;
}
.num-holder3 {
	position:absolute;
	top:50px;
	right:30px;
	width:60px;
	height:30px;
	line-height:30px;
	color:#fff;
	z-index:15;
	font-weight:200;
	background:rgba(255,255,255,0.21);
	border-radius:4px;
}
.container{
    max-width: 1024px;
    width: 90%;
    margin:0 auto;
    position: relative;
    z-index:5;
}
.carousel-wrap-item p{
    color: #fff;
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.carousel-wrap-item h2{
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    float: left;
    width: 100%
}
.carousel-wrap-item h3{
    color: #191919;
    font-size: 24px;
    float: left;
    width: 100%;
}
.left-title{
    padding-top: 100px;
    text-align: left;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    width: atuo;
    padding: 15px 18px;
    background: #ffc815;
    border-radius: 5px;
    text-align: center;
    letter-spacing:2px;
}
.hide-icon i{

    display: inline-block;
    background: #191919;
}
/* header 左侧边栏头部*/
.main-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    z-index: 40;
    background: #383838;
}
.logo-holder{
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 15px;

}
.logo-holder img{
    width: 40px;
    height: auto;
    float: left;
}

.nav-button{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 20px;
    margin-top: -15px;
    z-index: 10;
    cursor: pointer;
}
.nav-button::after{
    content: "菜单";
    color: #fff;
    position: absolute;
    top: -40px;
    left: 2px;
    opacity: 0;
    visibility: hidden;
    font-style: italic;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}

.nav-button:hover::after{
    visibility: visible;
    opacity: 1;
    top: -20px;
}
.menu-global{
    border-top: 3px solid #fff;
    left: 0px;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
.menu-top{
    top: 0;
}
.menu-middle{
    top:10px;
}
.menu-bottom{
    top: 20px;
}

.show-share{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 25px;
    bottom: 40px;
    cursor: pointer;
}
.show-share img{
    width: 20px;
    height: auto;
}
.show-share::before{
    content: "分享";
    color: #fff;
    position: absolute;
    top: -40px;
    left: -1px;
    font-size:10px;
    font-style: italic;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
}
.show-share:hover::before{
    opacity: 1;
    visibility: visible;
    top: -20px;
}


/* footer 右侧边栏 */
.main-footer{
    z-index: 120;
    position: fixed;
    width: 50px;
    right: 0;
    top: 0;
    height: 100%;
    background: #404040;
    border-left:1px solid rgba(255, 255, 255,0.21);
}
.mail-link{
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    left: 0;
    font-size: 14px;
    color: rgba(255, 255, 255,0.51);
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
}
.mail-link:hover{
    color: #ffc815;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.social-list{
    width: 100%;
    position: absolute;
    top:70px;
    left: 0;
}
.social-list::before,.social-list::after{
    content: '';
    position: absolute;
    left: 6px;
    right: 6px;
    height: 1px;
    background: rgba(255, 255, 255,0.21)
}
.social-list::before{
    top: -10px;
}
.social-list::after{
    bottom: -20px;
}
.social-list ul li{
    width: 100%;
    margin-bottom: 10px;
}
.social-list ul li a{
    display: inline-block;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #ffc815;
    border-radius: 50%;
    font-size: 16px;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    -webkit-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    -moz-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.social-list ul li a:hover{
    background: rgba(255, 255, 255,0.51);
    color: #ffc815;
    box-shadow:  0 0 30px -2px #999;
}
.copyright{
    position: absolute;
    left: 37px;
    bottom: 200px;
    width: 250px;
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: left top;
}

.copyright a{
    color: #fff;
}

